//Futura LT Bold
@font-face {
    font-family: FuturaLT-Bold;
    src:url(../fonts/FuturaLT-Bold.woff) format("woff"),
    url(../fonts/FuturaLT-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

//Futura LT Bold Oblique
@font-face {
    font-family: Galaxi;
    src:url(../fonts/futuralt-boldoblique.woff) format("woff"),
    url(../fonts/futuralt-boldoblique.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

//Futura LT Book
@font-face {
    font-family: Galaxi;
    src:url(../fonts/futuralt-boldoblique.woff) format("woff"),
    url(../fonts/futuralt-boldoblique.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

//Gill Sans MT Ultra Bold
@font-face {
    font-family: Galaxi;
    src:url(../fonts/Gill_Sans_MT_Ultra-Bold.woff) format("woff"),
    url(../fonts/Gill_Sans_MT_Ultra_Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}