//color
$main: #ffcb0f;
$header: #222533;
$gray: #484848;
$footer_bg: #222533;
$footer_bottom: #1a1c27;
$contact: #ffdc5e;
$con_gray: #5d6167;

// font

$Futura_LT_Bold: font36358;
$Futura_LT_Book: font36360;
