//Futura LT Bold
@import url("https://www.fontify.me/wf/0f47d8a04da4ab992fa104136c7b4c74");
body {
    font-family: font36358;
}

//Futura LT Bold Oblique
// @import url("https://www.fontify.me/wf/f1809a8dfaa427b4f81f02fe66b2d830");
body {
    font-family: font36359;
}

//Gill Sans MT Ultra Bold
@import url("https://www.fontify.me/wf/bdea1cbdb7d62de9d10d2c641f70e1b1");
body {
    font-family: font94238;
}

//Futura LT Book
@import url("https://www.fontify.me/wf/be711d8eace6d2f63c44355289ab032d");
body {
    font-family: font36360;
}
